<div class="bg-light" style="margin-top : 5%;">
    <div style="text-align:center">
        <h1 style="font-size:48px;font-family:Georgia,serif;font-weight:500px; margin-top: 5%; margin-bottom: 2.5%">
            Japanese Beginner</h1>
        <span style="background-color:#898989;display:inline-block;height:3px;margin-bottom:16px;width:150px"></span>
    </div>
    <div class="container">
        <div class="row">
            <div style="-ms-flex: 25%;flex: 25%;">
                <h1 class="HeaderText" style="text-align:center">Learn</h1>
                <p class="HeaderParagraph"><span class="icon fa fa-book"></span>Learn Hiragana</p>
                <p class="HeaderParagraph"><span class="icon fa fa-book"></span>Learn Katakana</p>
            </div>
            <div style="-ms-flex: 25%;flex: 25%;">
                <h1 class="HeaderText" style="text-align:center">Test</h1>
                <p class="HeaderParagraph"><span class="icon fa fa-edit"></span>Test Hiragana</p>
                <p class="HeaderParagraph"><span class="icon fa fa-edit"></span>Test Katakana</p>
            </div>
            <div style="-ms-flex: 25%;flex: 25%;">
                <h1 class="HeaderText" style="text-align:center">Contact</h1>
                <p class="HeaderParagraph"><span class="icon fa fa-facebook"></span>Facebook</p>
            </div>
            <div style="-ms-flex: 25%;flex: 25%;">
                <h1 class="HeaderText" style="text-align:center">About</h1>
            </div>
        </div>
    </div>
</div>
</body>

</html>